<li class="frame">
  <a href="<%= work.portfolio.url%>" data-lightbox="our-work" title="" data-title="<%= work.description%>" class="work-link">
    <img src="<%= work.portfolio.url(:thumb)%>" alt=""/>
  </a>
    <span class="caption">
        <%= work.name%>
    </span>
</li>