<div class="row" id="slider-row">
  <div class="width-container">
    <% if @banners.present? %>
      <ul id="slider">
        <%= render :partial => @banners %>
      </ul>
    <% end %>

    <a class="red-button">
      Our Work
    </a>

  </div>

</div>

<div class="row" id="services-row">
  <div class="width-container">
    <div>
      <% if @open_sources.present? %>
        <% @open_sources.each_with_index do |p, index| %>
          <%= render :partial => "open_sources/open_source", :locals => {:open_source => p, :index => index % 2} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>