<div class="row" id="slider-row">
  <div class="width-container">
    <% if @banners.present? %>
      <ul id="slider">
        <%= render :partial => @banners %>
      </ul>
    <% end %>

    <a class="red-button">
      Our Work
    </a>

  </div>

</div>

<div class="row" id="services-row">
  <div class="width-container">

    <div>

      <div class="line">
        <div class="container left">
          <h6>
            Title
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
        <span class="line-icon right"></span>
      </div>

      <div class="line">
        <span class="line-icon left"></span>

        <div class="container right">
          <h6>
            Title
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
      </div>

      <div class="line">
        <div class="container left">
          <h6>
            Title
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
        <span class="line-icon right"></span>
      </div>

      <div class="line">
        <span class="line-icon left"></span>

        <div class="container right">
          <h6>
            Title
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
      </div>

      <div class="line">
        <div class="container left">
          <h6>
            Title
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
        <span class="line-icon right"></span>
      </div>

      <div class="line">
        <span class="line-icon left"></span>

        <div class="container right">
          <h6>
            Title
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>