<div class="row" id="slider-row">
  <div class="width-container">
    <% if @banners.present? %>
      <ul id="slider">
        <%= render :partial => @banners %>
      </ul>
    <% end %>

    <a href="contact.html" class="red-button medium contact-us-button">
      CONTact us
    </a>

  </div>

</div>
<div class="row" id="logo-row">
  <div class="width-container">
    <div class="container">
      <div class="img-container">
        <img src="/assets/rails-logo.png" alt=""/>
      </div>
      <span>RAILS</span>
    </div>
    <div class="container">
      <div class="img-container">
        <img src="/assets/html-logo.png" id="html-logo" alt=""/>
      </div>
      <span>html</span>
    </div>
    <div class="container">
      <div class="img-container">
        <img src="/assets/coffeescript-logo.png" id="coffeescript-logo" alt=""/>
      </div>
      <span>cofeescript</span>
    </div>
    <div class="container">
      <div class="img-container">
        <img src="/assets/backbonejs-logo.png" alt=""/>
      </div>
      <span>Backbone.js</span>
    </div>

  </div>
</div>
<div class="row" id="services-row">
  <div class="width-container">

    <h3>
      PROCESS
    </h3>

    <div>

      <div class="line">
        <div class="container left">
          <h6>
            Methodology
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
        <span class="line-icon right"></span>
      </div>

      <div class="line">
        <span class="line-icon left"></span>

        <div class="container right">
          <h6>
            Implementation
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
      </div>

      <div class="line">
        <div class="container left">
          <h6>
            Technology
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
        <span class="line-icon right"></span>
      </div>

      <div class="line">
        <span class="line-icon left"></span>

        <div class="container right">
          <h6>
            Quality
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
      </div>

      <div class="line">
        <div class="container left">
          <h6>
            Maintenance
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
        <span class="line-icon right"></span>
      </div>

      <div class="line">
        <span class="line-icon left"></span>

        <div class="container right">
          <h6>
            Colloboration
          </h6>

          <p>
            We are a Ruby on Rails agency that practices agile development to build your site or app. Transparency, flexibility and product quality are the key, so we designed our collaborative processes around test-driven development, strict unit tests, rigorous peer reviews and QA testing.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>