<li class="slide">
  <img src="<%= banner.banner.url(:medium) %>" class="slide-image" alt=""/>
  <div class="container">
    <div class="heading-container">
      <h1>
        <%= banner.header %>
      </h1>
    </div>

    <p>
      <%= banner.description %>
    </p>
  </div>
</li>