<div class="row" id="process-row">
  <div class="width-container">


    <div class="border">
      <span class="border-left"></span>
      <span class="border-icon"></span>
      <span class="border-right"></span>
    </div>

    <h3>
      PROCESS
    </h3>
            <span class="sub-heading">
                ollis nunc a lacus varius aliquam stas <br/>
                velit ut ipsum varius rutrum.
            </span>

    <div id="process-container">
      <div id="process1" class="process">
        <span>idea</span>
      </div>
      <div id="process2" class="process">
        <p>
          Lorem ipsum dolo
          sit amet,      consectet
          ur adipi  scing elit
          Pellentesque fau
        </p>
      </div>
      <div id="process3" class="process">
        <p>
          Aliquam porta sceleris
          porta lacinia . Morbi
          a libero nec tortor port
          titor viverra
        </p>
      </div>
      <div id="process4" class="process">
        <span>Revision</span>
      </div>
      <div id="process5" class="process">
        <p>
          Duis ipsum tortor,
          faucibus non congue
          sed, gravida a risus
        </p>
      </div>
      <div id="process6" class="process">
        <p>
          Vivamus ullamcorper r
          utrum ante, ac
          congue metus rutrum
          Phasellus venenatis
        </p>
      </div>
      <div id="process7" class="process">
        <span>RUBY</span>
      </div>

    </div>
    <a href="/process" class="red-button">
      READ MORE
    </a>
  </div>

</div>